# Quiz 3

**Author:**

**Exercise 1:** 

1. Import the nobel price data frame using pandas.

2. Explore the data set: 

    2.1. Print the first five rows of the table.

    2.2. Print all the columns in the table.

    2.3. Print the types of all the columns in the table.

    2.4. Would the describe function give us any useful information of this data? (answer based on the data types of the columns).

3. Select only the gender column. Using a lambda function and the filter function, calculate the number and proportion of woman who have won the nobel price.

4. Select the column gender and save it in an object called ```g```. Do the same with the column category, and save it in an object called ```c```. Create a new object ```gc = g + c``` and print the content. 

5. Use the object ```gc```, a lambda function and the filter function to calculate the number and proportion of females that have won the economics novel price. Compare that number with the total number of females that have won any nobel price (from question 3)

In [1]:
import numpy as np
import pandas as pd

In [3]:
nobel = pd.read_csv('/home/ec2-user/SageMaker/quiz-3-elliejiayihe/data/nobel_prize.csv')

In [4]:
nobel

,index,id,firstname,surname,born,died,bornCountry,bornCountryCode,bornCity,diedCountry,...,diedCity,gender,year,category,overallMotivation,share,motivation,name,city,country
0,0,846,Elinor,Ostrom,8/7/1933,6/12/2012,USA,US,"Los Angeles, CA",USA,...,"Bloomington, IN",female,2009.0,economics,NaN,2.0,"""for her analysis of economic governance, espe...",Indiana University,"Bloomington, IN",USA
1,1,846,Elinor,Ostrom,8/7/1933,6/12/2012,USA,US,"Los Angeles, CA",USA,...,"Bloomington, IN",female,2009.0,economics,NaN,2.0,"""for her analysis of economic governance, espe...",Arizona State University,"Tempe, AZ",USA
2,2,783,Wangari Muta,Maathai,4/1/1940,9/25/2011,Kenya,KE,Nyeri,Kenya,...,Nairobi,female,2004.0,peace,NaN,1.0,"""for her contribution to sustainable developme...",NaN,NaN,NaN
3,3,230,Dorothy Crowfoot,Hodgkin,5/12/1910,7/29/1994,Egypt,EG,Cairo,United Kingdom,...,Shipston-on-Stour,female,1964.0,chemistry,NaN,1.0,"""for her determinations by X-ray techniques of...","University of Oxford, Royal Society",Oxford,United Kingdom
4,4,918,Youyou,Tu,12/30/1930,0000-00-00,China,CN,Zhejiang Ningbo,NaN,...,NaN,female,2015.0,medicine,NaN,2.0,"""for her discoveries concerning a novel therap...",China Academy of Traditional Chinese Medicine,Beijing,China
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
967,967,525,United Nations Children's Fund (UNICEF),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,org,1965.0,peace,NaN,1.0,NaN,NaN,NaN,NaN
968,968,527,International Labour Organization (I.L.O.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,org,1969.0,peace,NaN,1.0,NaN,NaN,NaN,NaN
969,969,537,Amnesty International,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,org,1977.0,peace,NaN,1.0,NaN,NaN,NaN,NaN
970,970,547,International Physicians for the Prevention of...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,org,1985.0,peace,NaN,1.0,NaN,NaN,NaN,NaN
971,971,550,United Nations Peacekeeping Forces,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,org,1988.0,peace,NaN,1.0,NaN,NaN,NaN,NaN

In [5]:
#2.1 
nobel.head()

,index,id,firstname,surname,born,died,bornCountry,bornCountryCode,bornCity,diedCountry,...,diedCity,gender,year,category,overallMotivation,share,motivation,name,city,country
0,0,846,Elinor,Ostrom,8/7/1933,6/12/2012,USA,US,"Los Angeles, CA",USA,...,"Bloomington, IN",female,2009.0,economics,NaN,2.0,"""for her analysis of economic governance, espe...",Indiana University,"Bloomington, IN",USA
1,1,846,Elinor,Ostrom,8/7/1933,6/12/2012,USA,US,"Los Angeles, CA",USA,...,"Bloomington, IN",female,2009.0,economics,NaN,2.0,"""for her analysis of economic governance, espe...",Arizona State University,"Tempe, AZ",USA
2,2,783,Wangari Muta,Maathai,4/1/1940,9/25/2011,Kenya,KE,Nyeri,Kenya,...,Nairobi,female,2004.0,peace,NaN,1.0,"""for her contribution to sustainable developme...",NaN,NaN,NaN
3,3,230,Dorothy Crowfoot,Hodgkin,5/12/1910,7/29/1994,Egypt,EG,Cairo,United Kingdom,...,Shipston-on-Stour,female,1964.0,chemistry,NaN,1.0,"""for her determinations by X-ray techniques of...","University of Oxford, Royal Society",Oxford,United Kingdom
4,4,918,Youyou,Tu,12/30/1930,0000-00-00,China,CN,Zhejiang Ningbo,NaN,...,NaN,female,2015.0,medicine,NaN,2.0,"""for her discoveries concerning a novel therap...",China Academy of Traditional Chinese Medicine,Beijing,China

In [8]:
#2.2 
column = nobel.columns
column

Index(['index', 'id', 'firstname', 'surname', 'born', 'died', 'bornCountry',
       'bornCountryCode', 'bornCity', 'diedCountry', 'diedCountryCode',
       'diedCity', 'gender', 'year', 'category', 'overallMotivation', 'share',
       'motivation', 'name', 'city', 'country'],
      dtype='object')

In [9]:
#2.3
nobel.dtypes

index                  int64
id                     int64
firstname             object
surname               object
born                  object
died                  object
bornCountry           object
bornCountryCode       object
bornCity              object
diedCountry           object
diedCountryCode       object
diedCity              object
gender                object
year                 float64
category              object
overallMotivation     object
share                float64
motivation            object
name                  object
city                  object
country               object
dtype: object

In [10]:
#2.4 
nobel.describe
# It tells the total number of rows and columns, title of each row and column, and a few example contents. However, it doesnt give infomation about the types of columns because the types are not iterated

<bound method NDFrame.describe of      index   id                                          firstname  surname  \
0        0  846                                             Elinor   Ostrom
1        1  846                                             Elinor   Ostrom
2        2  783                                       Wangari Muta  Maathai
3        3  230                                   Dorothy Crowfoot  Hodgkin
4        4  918                                             Youyou       Tu
..     ...  ...                                                ...      ...
967    967  525            United Nations Children's Fund (UNICEF)      NaN
968    968  527         International Labour Organization (I.L.O.)      NaN
969    969  537                              Amnesty International      NaN
970    970  547  International Physicians for the Prevention of...      NaN
971    971  550                 United Nations Peacekeeping Forces      NaN

           born        died bornCountry bornCountryCode         bornCity  \
0      8/7/1933   6/12/2012         USA              US  Los Angeles, CA
1      8/7/1933   6/12/2012         USA              US  Los Angeles, CA
2      4/1/1940   9/25/2011       Kenya              KE            Nyeri
3     5/12/1910   7/29/1994       Egypt              EG            Cairo
4    12/30/1930  0000-00-00       China              CN  Zhejiang Ningbo
..          ...         ...         ...             ...              ...
967         NaN         NaN         NaN             NaN              NaN
968         NaN         NaN         NaN             NaN              NaN
969         NaN         NaN         NaN             NaN              NaN
970         NaN         NaN         NaN             NaN              NaN
971         NaN         NaN         NaN             NaN              NaN

        diedCountry  ...           diedCity  gender    year   category  \
0               USA  ...    Bloomington, IN  female  2009.0  economics
1               USA  ...    Bloomington, IN  female  2009.0  economics
2             Kenya  ...            Nairobi  female  2004.0      peace
3    United Kingdom  ...  Shipston-on-Stour  female  1964.0  chemistry
4               NaN  ...                NaN  female  2015.0   medicine
..              ...  ...                ...     ...     ...        ...
967             NaN  ...                NaN     org  1965.0      peace
968             NaN  ...                NaN     org  1969.0      peace
969             NaN  ...                NaN     org  1977.0      peace
970             NaN  ...                NaN     org  1985.0      peace
971             NaN  ...                NaN     org  1988.0      peace

    overallMotivation share  \
0                 NaN   2.0
1                 NaN   2.0
2                 NaN   1.0
3                 NaN   1.0
4                 NaN   2.0
..                ...   ...
967               NaN   1.0
968               NaN   1.0
969               NaN   1.0
970               NaN   1.0
971               NaN   1.0

                                            motivation  \
0    "for her analysis of economic governance, espe...
1    "for her analysis of economic governance, espe...
2    "for her contribution to sustainable developme...
3    "for her determinations by X-ray techniques of...
4    "for her discoveries concerning a novel therap...
..                                                 ...
967                                                NaN
968                                                NaN
969                                                NaN
970                                                NaN
971                                                NaN

                                              name             city  \
0                               Indiana University  Bloomington, IN
1                         Arizona State University        Tempe, AZ
2                                              NaN              NaN
3              University of Oxford, Royal Society           Oxford
4    China Academy of Traditional Chinese Medicine          Beijing
..                                             ...              ...
967                                            NaN              NaN
968                                            NaN              NaN
969                                            NaN              NaN
970                                            NaN              NaN
971                                            NaN              NaN

            country
0               USA
1               USA
2               NaN
3    United Kingdom
4             China
..              ...
967             NaN
968             NaN
969             NaN
970             NaN
971             NaN

[972 rows x 21 columns]>

In [13]:
#3

gender = nobel['gender']
len(list(filter(lambda x: x == "female", gender))) # 50 women
len(gender) # total 972

proportion_of_women = 50 / 972
proportion_of_women

0.051440329218107

In [18]:
# 4 gender column g, category column c
g = nobel['gender']
c = nobel['category']

gc = g + c
print(gc)

0      femaleeconomics
1      femaleeconomics
2          femalepeace
3      femalechemistry
4       femalemedicine
            ...
967           orgpeace
968           orgpeace
969           orgpeace
970           orgpeace
971           orgpeace
Length: 972, dtype: object

In [21]:
# 5 
len(list(filter(lambda x: x == "femaleeconomics", gc))) # 2 women won female economics prize

2

In [22]:
proportion_of_women_econ = len(list(filter(lambda x: x == "femaleeconomics", gc))) / len(gc)
proportion_of_women_econ

0.00205761316872428

In [23]:
# compare

proportion_of_women_econ < proportion_of_women

True